text {
  font-family: Seville-Bold-Condensed;
  /* font-weight: regular; */
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#heartIcon {
  opacity: .7;
  width: 24;
  height: 24;
  fill: #FF214A;
}

image {
  opacity: .7;
  width: 24;
  height: 24;
  fill: #FF214A;
}
